<li class="mount" id="mount-<%= mount.id %>">
  <span class="mount-name"><%= mount.name %></span>
  <span class="mount-img"></span>
  <span class="mount-color"><%= mount.color %></span>
  <span class="mount-sex"><%= mount.sex == 'F' ? 'Female' : 'Male' %></span>
  <span class="mount-reproduction"><%= mount.reproduction %></span>
  <span class="mount-pregnant">
    <%= if mount.pregnant
          'Fecondee'
        else
          mount.reproduction == 0 ? 'Sterile' : 'Feconde'
        end %>
  </span>
  <span class="mount-button">
    <% if path == 'breed' %>
      <%= link_to 'Mate', mate_mount_path(@mount, parent2: mount.id), class: "btn btn-primary mount-edit" %>
    <% else %>
      <%= link_to 'Edit', edit_mount_path(mount), class: "btn btn-primary mount-edit" %>

      <% if mount.pregnant %>
        <span class="dropdown">
          <button class="btn btn-info mount-give-birth dropdown-toggle"
                  type="button" id="birth-number" data-toggle="dropdown">Birth</button>
          <div class="dropdown-menu dropdown-menu-right birth-dropdown-menu" aria-labelledby="birth-number">
            <%= link_to '+1', birth_mount_path(mount.id, n_child: 1), class: "btn btn-primary mount-edit" %>
            <%= link_to '+2', birth_mount_path(mount.id, n_child: 2), class: "btn btn-primary mount-edit" %>
          </div>
        </span>
        <% elsif mount.sterile? %>
          <button class="btn btn-danger mount-sterile">Sterile</button>
        <% else %>
          <%= link_to 'Breed', breed_mount_path(mount.id), class: "btn btn-warning mount-breed" %>
        <% end %>
      <% end %>
  </span>
</li>