<li class="mount" id="mount-<%= mount.id %>">
  <%= link_to mount.name, mount_path(mount.id), class: "mount-name" %>
  <span class="mount-color">
    <%= image_tag mount.get_icon, class: 'color-icon' %>
  </span>
  <span class="mount-sex"><%= mount.sex == 'F' ? 'Female' : 'Male' %></span>
  <span class="mount-reproduction"><%= mount.reproduction %></span>
  <span class="mount-pregnant">
    <%= if mount.pregnant
          'Fecondee'
        else
          mount.reproduction == 0 ? 'Sterile' : 'Feconde'
        end %>
  </span>
  <span class="mount-button">
    <% if path == 'breed' %>
      <%= link_to 'Mate', mate_mount_path(@mount, parent2: mount.id), class: "btn btn-primary mount-edit" %>
    <% else %>
      <%= render 'shared/mount_buttons', mount: mount %>
      <% end %>
  </span>
</li>