<div class="row">
  <div class="col-md-12 mount-page">
    <% if path == 'breed' %>
      <h3>Choose a mates for <%= @mount.name %></h3>
      <%= link_to('Show consanguineous mates',
                  breed_mount_path(@mount.id, consang: true),
                  class: "btn btn-warning breed-btn \\
                  #{'disabled' if params[:consang] == 'true'}") %>
      <%= link_to('Show non consanguineous mates',
                  breed_mount_path(@mount.id, consang: false),
                  class: "btn btn-success breed-btn \\
                  #{'disabled' if params[:consang] == 'false'}") %>
    <% else %>
      <%= link_to('New mount', new_path, class: "btn btn-info new-mount") %>
      <ul class="nav nav-pills mount-list-nav" id="myTab">
        <li class="nav-item">
          <%= link_to('All', type_path, class: "nav-link #{@btn_style[0]}") %>
        </li>
        <li class="nav-item">
          <%= link_to('Fertile', type_path + '?mounts=fertile',
                      class: "nav-link #{@btn_style[1]}") %>
        </li>
        <li class="nav-item">
          <%= link_to('Pregnant', type_path + '?mounts=pregnant',
                      class: "nav-link #{@btn_style[2]}") %>
        </li>
      </ul>
    <% end %>

    <li class="mount mount-legend">
      <span class="mount-name">Name</span>
      <span class="mount-color">Color</span>
      <span class="mount-sex">Sex</span>
      <span class="mount-reproduction">Repro</span>
      <span class="mount-pregnant">Fertility</span>
      <span class="mount-button"></span>
    </li>
    <% if mounts.any? %>
      <ol class="mount-list">
        <%= render mounts, path: path %>
      </ol>
    <% end %>
  </div>
</div>
