<li class="mount" id="mount-<%= mount.id %>">
  <span class="mount-name"><%= mount.name %></span>
  <span class="mount-img"></span>
  <span class="mount-color"><%= mount.color %></span>
  <span class="mount-sex"><%= mount.sex == 'F' ? 'Female' : 'Male' %></span>
  <span class="mount-reproduction"><%= mount.reproduction %></span>
  <span class="mount-pregnant">
    <%= if mount.pregnant
          'Fecondee'
        else
          mount.reproduction == 0 ? 'Sterile' : 'Feconde'
        end %>
  </span>
  <span class="mount-button">
    <% if path == 'breed' %>
      <%= link_to 'Mate', mate_mount_path(@mount, parent2: mount.id), class: "btn btn-primary mount-edit" %>
    <% else %>
      <%= link_to 'Edit', edit_mount_path(mount), class: "btn btn-primary mount-edit" %>

      <% if mount.pregnant %>
        <%= link_to 'Birth', root_path, class: "btn btn-info mount-give-birth" %>
        <% elsif mount.sterile? %>
          <span class="btn btn-danger mount-sterile">Sterile</span>
        <% else %>
          <%= link_to 'Breed', breed_mount_path(mount.id), class: "btn btn-warning mount-breed" %>
        <% end %>
      <% end %>
  </span>
</li>