<div class="row">
  <div class="col-md-12 mount-page">
    <%= link_to('New mount', new_mount_path, class: "btn btn-success new-mount") %>
    <p>Current user is <%= current_user.username %>. He has <%= current_user.mounts.count %> mounts</p>
    <li class="mount mount-legend">
      <span class="mount-name">Name</span>
      <span class="mount-img"></span>
      <span class="mount-color">Color</span>
      <span class="mount-sex">Sex</span>
      <span class="mount-reproduction">Reproduction</span>
      <span class="mount-pregnant">Fertility</span>
      <span class="mount-button"></span>
    </li>
    <% if current_user.mounts.any? %>
      <ol class="mount-list">
        <%= render @mounts %>
      </ol>
      <%= will_paginate @mounts %>
    <% end %>
  </div>
</div>