<div class="row mount-show">
  <div class="col-12 mount-info">
    <div class="row">
      <div class="col-6">
        <div class="row mount-info-head">
          <div class="col-6">
            <%= image_tag @mount.get_img, class: "mount-img"%>
          </div>
          <div class="col-6">
            <%= render 'shared/mount_buttons', mount: @mount %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mount-info-info">
          <div class="col-4">
            <ul>
              <li>Name:</li>
              <li>Sex:</li>
              <li>Color:</li>
              <li>Father:</li>
              <li>Mother:</li>
              <li>Reproduction:</li>
              <li>Status:</li>
            </ul>
          </div>
          <div class="col-8">
            <ul>
              <li class="mount-name"><%= @mount.name %></li>
              <li class="mount-sex"><%= @mount.translate_sex %></li>
              <li class="mount-color"><%= @mount.color %></li>
              <li class="mount-father"><%= @mount.father ?
                          link_to(@mount.father.name, mount_path(@mount.father)) :
                          '???' %></li>
              <li class="mount-mother"><%= @mount.mother ?
                          link_to(@mount.mother.name, mount_path(@mount.mother)) :
                          '???' %></li>
              <li class="mount-reproduction"><%= @mount.reproduction %></li>
              <li class="mount-pregnant"><%= @mount.repro_status %></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-12 mount-genealogy">
    <%= render 'mount_genealogy', mount: @mount %>
  </div>
</div>