<aside id="nav-aside">
  <a href=<%= help_path %> class="material-icons side-icon">arrow_forward_ios</a>
  <a href=<%= root_path %> class="material-icons side-icon">home</a>
  <a href=<%= mounts_path %> class="material-icons side-icon">people</a>
  <a href=<%= pregnant_mounts_path %> class="material-icons side-icon">child_friendly</a>
  <a href=<%= root_path %> class="material-icons side-icon">settings</a>
</aside>